@charset "UTF-8";
/* CSS Document */


#home {
padding:20px 0 0 0;}

	#home h2 {color:#f47321; font-weight:bold; padding-bottom:12px;}
	#home h3 {font-size:100%; line-height:167%; text-transform:uppercase; color:#002a5c; font-weight:bold;}
	#home h4 {font-size:100%; line-height:140%; text-transform:capitalize; color:#002a5c; font-style:italic;}
	#home p {padding:0;}
	
	#home select {width:100%; margin-bottom:5px;}
	
		/*=============================================
	Feature
	==============================================*/
	
	#feature {
		padding:0px 0px 15px 0px;}
		
	#feature .feature-container {
		width:930px;
		height:300px;
		background-color:#222;
		border:10px solid #FF5B00;}
		
	#feature .feature-image {
		width:930px;
		height:300px;
		position:relative;
		overflow:hidden;}
		
	#feature .feature-image .feature-caption-hidden {
		display:none;}
		
	#feature .feature-caption {				/*There is an IE6 Conditional*/
		width:280px;
		height:300px;
		background: url(../img/feature-80-002a5c.png) no-repeat top left;
		position:relative;
		margin-top:-300px;	/*Positions the Blue Box [y]*/
		margin-left:0px;}	/*Positions the Blue Box [x]*/
		
	#feature .feature-caption h1 {
		padding:20px 20px 4px 20px;
		color:#fff;
		font-family:"Lucida Grande", Arial, sans-serif;
		font-size:36px;
		line-height:40px;
		font-weight:bold;}
		
	#feature .feature-caption h2 {
		padding:5px 20px 4px 20px;
		color:#F47321;
		font-family:"Lucida Grande", Arial, sans-serif;
		font-size:15px;
		line-height:21px;}
		
	#feature .feature-caption span.emphasis {
		font-size:50px;
		color:#f47321;}
		
	#feature .feature-nav {					/*There is an IE6 Conditional*/
		z-index:9000;
		position:absolute;
		margin-left:25px;	/*Positions the Feature Navigation [x]*/
		margin-top:265px;	/*Positions the Feature Navigation [y]*/
		cursor:pointer;}
		
	#feature .feature-nav li {
		padding-bottom:0;}
		
	#feature .feature-nav a.fnav {
		font-size:2em; color:#ddd; padding-right:2px; border-bottom:none;}
		
	#feature .feature-nav a.fnav a {
		color:#f47321;}
		
	#feature .feature-nav a.activeSlide {
		color:#f47321;}
		
		
	/*=============================================
	LEFT SIDE
	==============================================*/
	
	/* LATEST at UTSA - Large Featuers*/
	#home .latest-utsa, 
	#home .upcoming-event {background-color:#eee; border:3px solid #e8e6e6; padding:15px 20px 10px 30px; margin-bottom:10px;}
	
	#home .latest-utsa a, 
	#home .upcoming-event a{padding:0; color:#111;	}
	#home .latest-utsa a:hover, 
	#home .upcoming-event a:hover {color:#f47321;}	
	
	/*Large Feature*/
	.large-feat {width:167px; margin-bottom:12px; margin-right:14px; cursor:pointer;}	
	.large-feat-last {margin-right:0;}		
	.large-feat-img img {border:6px solid #ccc;}
	.large-feat-desc {margin-top:8px;}
		
	/* Small Featuers*/
	.small-feat {margin-bottom:8px; cursor:pointer;}
	.small-feat-img {float:left; width:75px; margin-right:10px; border:3px solid #ccc; cursor:pointer;}
	.small-feat-desc {float:left; width:165px;}
	
	
	/*=============================================
	RIGHT SIDE
	==============================================*/
	
	.home-rt-item h2 a {color:#f47321;}
	
	.home-rt-item ul {margin-top:10px; margin-bottom:20px;}
	.home-rt-item li {border-bottom:1px solid #f47321; padding:4px 2px;}
	.home-rt-item li a {color:#002a5c;}
	.home-rt-item li a:hover {color:#f47321;}
	
	
	/*=============================================
	XTRA HOME ITEMS & Visit US
	==============================================*/
	
	.home-xtra {
		border-top:3px solid #e8e6e6;
		border-bottom:3px solid #e8e6e6;
		position:relative;
		padding:15px 20px 10px 20px;}
	
		.xtra-title {float:left; padding-left:5px;}
		
		.home-xtra-nav {float:right;}
		
			.xtra-nav ul {}		
			
			.xtra-nav li {padding:0;}	
			
			.xtra-nav a.xtraNav {font-size:2em; color:#ddd; padding-right:2px; border-bottom:none;}
			
			.xtra-nav a.xtraNav:hover {color:#f47321;}	
			
			.xtra-nav a.activeSlide {color:#f47321;}
			
		
		.xtra-content {}
		
			.xtra-container {}
			
				.sizeWrap {padding-right:10px; padding-left:10px;}
				
	.visit {
		position:relative;
		padding:15px 20px 30px 20px;}
	
		.visit-title {padding-left:5px;}
		
		.visit-content {}
		
			.visit-content img {margin-bottom:15px;}
		
			.sizeWrap {padding-right:10px; padding-left:10px;}

	
	.xtra-container a, .visit-content a {
		color:#002a5c; border-bottom:1px solid #f47321;}
		
	.xtra-container a:hover, .visit-content a:hover {
		color:#f47321;}	