/*
Author: The University of Texas at San Antonio
Website: http://utsa.edu

1. RESET
2. GLOBAL RULES
3. STRUCTURE
4. BRANDING
5. HEADER
6. CONTENT (global)
7. FOOTER
8. MEDIA QUERIES
*/


/*
==================================================================================================
1. RESET
================================================================================================== 
*/

* {margin:0; padding:0;}

/* Tables still need 'cellspacing="0"' in the markup. */
table {border-collapse:collapse; border-spacing:0;}
td, th {vertical-align:top;}

/* Remove annoying border on linked images. */
a img {border: none;}

/* Remove bullets. */
li {list-style:none;}

/* Make these work even in the modules, etc. where everything is reset */
i, em {font-style: italic !important;}
b, strong {font-weight: bold !important;}
u {text-decoration:underline !important;}

/* Remvoes font weight*/
h1, h2, h3, h4 ,h5 ,h6 {font-weight:normal;}

/*
==================================================================================================
2. GLOBAL RULES 
================================================================================================== 
*/

body {
	font-family:"Lucida Grande", Tahoma, Geneva, Helvetica, Arial, sans-serif; 
	font-size:75%; 	 	 	/*For lte IE6, reduces body text from 16px default to 12px*/
	line-height:167%;
	font-weight:normal; 
	background-color:#002a5c; }

html>body {font-size:12px;} /*Ignored by lte IE6, sets default font size to 12px */

p {font-size:100%; line-height:167%; padding-bottom:3%;}/*font size 12px, line-height 20px;*/

h1, .h1 {font-size:200%; line-height:133%;}	/*font size 24px*/
h2, .h2 {font-size:175%; line-height:139%;}	/*font size 21px*/
h3, .h3 {font-size:150%; line-height:144%;}	/*font size 18px*/
h4, .h4 {font-size:133%; line-height:150%;}	/*font size 16px*/
h5, .h5 {font-size:116%; line-height:157%;}	/*font size 14px*/
h6, .h6 {font-size:116%; line-height:157%;}	/*font size 14px*/	

hr {border-color:#ddd; border-style:solid; border-width:1px; margin-top:1em; margin-bottom:1em;}

a {text-decoration:none;}

a:focus {outline:none;}

li {padding-bottom:.375em;}

.floatL {float:left;}
.floatR {float:right;}
.floatC {clear:both;}

.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;} 	/*There is an IE6/7 Conditional*/

	/*=============================================
	GLOBAL RULES FOR USER-GENERATED CONTENT
	==============================================*/
	#content a {color:#002a5c; border-bottom:1px solid #f47321;}
	#content a:hover {color:#f47321;}
	#content p {line-height:1.833333em;}
	#content ul {margin-left:1.5em;}
	#content ol {margin-left:1.85em;}
	#content ul li {list-style:disc;}
	#content ol li {list-style:decimal outside;}
	#content .non-list li {font-size:1em; line-height:1.5em;}
	
	#content table th {border:1px solid #666; background-color:#e7e7e7; padding:.5em 1em; color:#002a5c; font-weight:bold;}
	#content table td {border:1px solid #666; padding:.5em 1em;}
	
	#content form {}
	

/*
==================================================================================================
3. STRUECTURE 
================================================================================================== 
*/

body {}

	/*=============================================
	Branding
	==============================================*/
	#branding {
	margin:0 auto;
	min-width:950px;
	width:auto;
	background: no-repeat 0 0 #032650 scroll;
	position:relative;
	}
	
	/*=============================================
	100% Defines Color
	==============================================*/
	#header-orange, #header-blue, #content-white, #content-bg, #content-gray, #footer-blue, #footer-orange, #orange-border {
	min-width:950px;
	width:auto;
	}
	
	#header-blue {background: no-repeat 0 0 #002a5c scroll;}
	#content-white {background: no-repeat 0 0 #ffffff scroll;}
	#content-gray {background: no-repeat 0 0 #eeeeee scroll;}
	#footer-blue {background: no-repeat 0 0 #002a5c scroll;}
	#footer-orange {background: no-repeat 0 0 #f47321 scroll;}
	
	/*Global Navigation*/
	#header-orange {background: no-repeat 0 0 #f47321 scroll; border-top:2px solid #F60; border-bottom:2px solid #F60;}
	
	/*Starter Header*/
	#content-starter {background: no-repeat 0 0 #002a5c scroll; border-bottom:2px solid #ddd;}
	
	/*Template Page Content*/
	#content-bg {background: url(../img/bg/bg-contentWhite.jpg) repeat-y top center #ffffff scroll;}
	
	/*Template Page Orange Line below Header*/
	#orange-border {background: no-repeat 0 0 #f47321 scroll; height:4px;}
	
	/*=============================================
	Centers the Website
	==============================================*/
	#topBar, 			/*located in branding */
	#topBarSM,			/*located in branding */
	#globalNav, 		/*located in header */
	#navigation,		/*located in header */
	#header-content,	/*located in header */
	#feature, 			/*located in header */
	#footer,		 	/*located in footer */	
	#starter,			/*located in starter.css */
	#starter-intro,		/*located in starter.css */
	#home,				/*located in starter.css */
	#content, 			/*located in Content*/
	#content-extra		/*located in Content*/
	{margin:0 auto;width:950px;}

	/*=============================================
	Content Layout Structure		/*there's slighly lesser amount of percentage in IE6*/
	==============================================*/
	.size1of1{float:left; width:100%;}
	.size1of2{float:left; width:50%;}
	.size1of3{float:left; width:33%;}
	.size2of3{float:left; width:66%;}
	.size1of4{float:left; width:25%;}
	.size3of4{float:left; width:75%;}
	.size1of5{float:left; width:20%;}
	.size2of5{float:left; width:40%;}
	.size3of5{float:left; width:60%;}
	.size4of5{float:left; width:80%;}
	.gutter {padding-right:30px;}
	.col-layout {padding-bottom:20px;}

/*
==================================================================================================
4. BRANDING
================================================================================================== 
*/

#topBar {padding:15px 0px;}
#topBarSM {padding:2px 0px 4px 0px;}

	/*=============================================
	SMALL BRANDING BAR
	==============================================*/	
	.logo {float:left; padding-top:7px;}
	.logo a {font-size:11px;letter-spacing:.1px;color:#fff;}
	.logo a:hover {color:#f47321;}
	.links {float:right;}
	.links ul {padding-top:9px;}
	.links ul li {font-size:11px;letter-spacing:.1px;color:#fff;padding:0;display:inline; padding-right:5px;}
	.links a {color:#fff;}
	.links a:hover {color:#bbb;}
	
	/*=============================================
	Extended Branding - Logo on Top Left
	==============================================*/	
	.brand {float:left; margin-top:28px;}
	
	ul.logo li a {
		width:320px; height:30px; 
		display:block; 
		background:url(../img/branding/logo.jpg) no-repeat 0px -60px;
		text-indent:87px; line-height:46px;
		color:#f47321;
		font-size:12px;}
	
	ul.logo li a:hover {
		background-position: 0px 0px;
		color:#fff;}
	
	/*=============================================
	Extended Branding - Line1 - Utility Bar
	==============================================*/	
	#topBar #utilityBar { }
	
	#utilityBar ul.utility {
		padding-bottom:8px;}
	
	#utilityBar ul.utility li {
		display:inline; 
		margin-right:10px; 
		font-weight:bold;}
			
	#utilityBar ul.utility li a {							/*There is an IE6/7 Conditional*/
		font-size:10px; line-height:100%; color:#fff;}
	
	#utilityBar ul.utility li a.action {					/*There is an IE6/7 Conditional*/
		font-size:13px; color:#f47321;}
	
	#utilityBar ul.utility li a:hover {						/*There is an IE6/7 Conditional*/
		padding-top:4px;
		color:#f47312; 
		border-top:1px solid #f47321;}
	
	#utilityBar ul.utility li a.action:hover {				/*There is an IE6/7 Conditional*/
		padding-top:2px;
		border-top:1px solid #f47321;}
	
	/*=============================================
	Extended Branding - Line2 - Utility: Information For Section
	==============================================*/	
	#utilityBar ul.audience {
		height:24px; width:322px; 
		background:url(../img/branding/infoFor.jpg) no-repeat top left #002a5c;
		padding:8px 10px 2px 12px; margin-right:12px; }
	
	#utilityBar ul.audience li {
		display:inline;	
		margin-right:8px;}
	
	#utilityBar ul.audience li a {
		font-size:11px; /*10px*/
		color:#444;text-transform:uppercase;}
	
	#utilityBar ul.audience li a:hover {
		color:#f47321;}
	
	#utilityBar ul.audience li.tag {						/*There is an IE6/7 Conditional*/
		font-size:100%; line-height:167%; /*12px*/
		color:#888;text-transform:lowercase;
		padding-right:8px;
		border-right:1px solid #aaa;}

	/*=============================================
	Extended Branding - Line2 - Utility: Search Bar
	==============================================*/
	.search {
		height:34px;width:180px;
		background:url(../img/branding/search.jpg) no-repeat top right #002a5c;
		padding:0px 7px 0px 10px;}
	
	.search form#cse-search-box {
		margin:3px 2px 0px 0px;}
	
	.search form#cse-search-box input[type="text"] {
		background:none;
		margin-top:4px; padding:4px 5px 0px 0px;
		font-size:11px; line-height:170%; color:#002a5c;
		border:none;}
	
	.search form#cse-search-box input[type="image"] {
		padding-top:2px;}
	
		
	
/*
==================================================================================================
5. HEADER + NAVIGATION
================================================================================================== 

	/*=============================================
	Global Navigation
	==============================================*/
	#globalNav {}
	
	#globalNav ul.nav {}
	
	#globalNav ul.nav li {
		padding-top:5px;}
	
	#globalNav ul.nav li a { /*applies to all Global Nav items */
		height:40px;
		display:block;overflow:hidden;
		cursor:pointer;
		text-indent:-9999px;}	
	
	#globalNav ul.nav li a.nav-admissions {
		width:147px;
		background:url(../img/navigation/globaNav_admissions.jpg) no-repeat 0px 0px;}
	
	#globalNav ul.nav li a.nav-academics {
		width:143px;
		background:url(../img/navigation/globaNav_academics.jpg) no-repeat 0px 0px;}
	
	#globalNav ul.nav li a.nav-research {
		width:132px;
		background:url(../img/navigation/globaNav_research.jpg) no-repeat 0px 0px;}
	
	#globalNav ul.nav li a.nav-athletics {
		width:128px;
		background:url(../img/navigation/globaNav_athletics.jpg) no-repeat 0px 0px;}
	
	#globalNav ul.nav li a.nav-campus {
		width:153px;
		background:url(../img/navigation/globaNav_campus.jpg) no-repeat 0px 0px;}
	
	#globalNav ul.nav li a.nav-community {
		width:159px;
		background:url(../img/navigation/globaNav_community.jpg) no-repeat 0px 0px;}
	
	#globalNav ul.nav li a.nav-about {
		width:88px;
		background:url(../img/navigation/globaNav_about.jpg) no-repeat 0px 0px;}
	
	#globalNav ul.nav li a:hover {	/*applies to all Global Nav items */
		background-position:0px -40px;}
	
	#globalNav ul.nav li a.selected {
		background-position:0px -40px !important;}
		

	/*=============================================
	Headeer Content - For Template Pages
	==============================================*/
	#header-content {
		padding:20px 0;}
		
	#header-content .h1, #header-content .h1 a {
		color:#f47321;
		font-weight:bold;}
	
/*
==================================================================================================
6. CONTENT - STARTER PAGES
================================================================================================== 
*/
	#starter {padding:20px 0;}

/*
==================================================================================================
6. CONTENT - TEMPLATE PAGES
================================================================================================== 
*/
	
	#content {}	
	
	#col-navigation {float:left; width:26%; padding:20px 0 0 0;} /*see navigation styles in #5*/
	
	#col-main {float:right; width:65%; background-color:#f7f7f7; padding:30px;}
	
	/*User Footer*/
	#content-extra {padding:20px 0 20px 0;}
	
	
		/*=============================================
		Page Level Navigation - For Template Pages
		==============================================*/
		#col-navigation .nav-page ul {margin:0; padding:0;}
		
		#col-navigation .nav-page ul li {list-style:none; padding:0;}
		
		#col-navigation .nav-page li li {
		}
		
		#col-navigation .nav-page a {	/*There is an IE6/7 Conditional*/
		display:block;
		padding:.5em 0;
		border-bottom:none;}
		
		#col-navigation .nav-page li a { /*There is an IE6/7 Conditional*/
		font-size: 1.3333333em; line-height:1.25em; /*16px*/
		color:#002a5c;
		border-top:1px solid #ddd;}
		
		#col-navigation .nav-page li li a {
		font-size:100%; line-height:167%; /*12px*/
		color:#444;
		border:none;}
		
		#col-navigation .nav-page li a:hover {
		color:#f47321;}
		
		#col-navigation .nav-page li a.last {
		border-bottom:1px solid #ddd;}
		
		/*First Nav Option (Local Home Page)*/
		#col-navigation .nav-page li a.home {
		background:url(../img/icon/icon-home.jpg) 0 4px no-repeat;
		padding-left:30px;
		border-top:none;
		color:#f47321;}
		
		/*Javascript Toggle Menu*/
		#col-navigation .nav-page li a.trigger {
		background:#fff right top no-repeat;
		padding-right:24px;}
		
		#col-navigation .nav-page li a.trigger:hover { 
		color:#f47321;}
		
		#col-navigation .nav-page li a.active {
		background-image:url(../img/icon/icon-expand-active.jpg);
		color:#f47321;}
		
		/*=============================================
		Page Level EXTRA Navigation - For Template Pages
		==============================================*/
		#col-navigation .nav-extra {margin-top:20px;}
		
		#col-navigation .nav-extra ul li a {font-size:100%; line-height:167%;} /*12px*/
	
	
	/*see user-stylesheet for more styles*/
	
	
/*
==================================================================================================
7. FOOTER
================================================================================================== 
*/	
	#footer {padding:20px 0px 30px 0px;}
	
	/*=============================================
	Expanded Footer
	==============================================*/
	#expanded-footer {
		padding:10px 0 20px 0;
		color:#ccc;
		border-bottom:1px solid #f47321;
		margin-bottom:.75em;}
	
	#expanded-footer ul {
		float:left;
		width:10.9%;
		min-height:250px; 				/*There is an IE6/7 Conditional*/
		border-left:1px solid #014C72;
		padding:0px 15px;}
	
	#expanded-footer ul.footer-media {
		border-right:1px solid #014C72;}
		
	#expanded-footer ul li.audience-footer-label {
		padding-bottom:10px;}
		
	#expanded-footer ul li.audience-footer-label a {
		letter-spacing:1px; color:#f47321; text-transform:uppercase; 
		font-size:100%; line-height:167%; font-weight:bold;
		border-bottom:none;}
		
	#expanded-footer ul li.audience-footer-label a:hover {
		color:#f47321;
		border-bottom:none;
		cursor:default;}
		
	#expanded-footer ul li {
		padding-bottom:8px;}
		
	#expanded-footer ul li a {
		color:#ccc;text-transform:none;
		font-size:98%;line-height:130%;font-weight:normal;}
	
	#expanded-footer ul li a:hover {
		color:#f47321;}
	
		
	/*=============================================
	Copyright Information + Utility Footer
	==============================================*/
	#copyright {}
	
	.footer-logo {float:right;}
	
	ul.footer-utility li {
		display:inline;
		margin-right:10px;
		font-size:100%; line-height:167%;}
		
	ul.footer-utility li a {
		color:#f47321;}
		
	ul.footer-utility li a:hover {
		border-bottom:1px solid #f47321;}
				
	p.footer-copyright {
		font-size:100%; line-height:167%; /*10px*/
		margin-top:.5em; margin-bottom:.5em; /*adjusted for visual spacing*/}
	
	p.footer-copyright, p.footer-copyright a {
		color:#eee;}
		
	a.footer-logo {
		width:106px;height:32px;
		background:url(../img/branding/footer-logo.jpg) no-repeat top left;
		display:block;
		text-indent:-9999px;}
		


/*
==================================================================================================
SEARCH RESULT PAGE
================================================================================================== 
*/	

#cse-search-results  {height:1200px; overflow:hidden;}