@charset "UTF-8";
/* CSS Document */


/*
==================================================================================================
A. STARTER GLOBAL
================================================================================================== 
*/

	#starter h1, #starter .h1 {color:#f47321;}
	#starter h2, #starter .h2 {color:#002a5c; padding-bottom:.25em;}
	#starter h3, #starter .h3 {color:#f47321;} 
	#starter h4, #starter .h4 {color:#002a5c;} 
	#starter h5, #starter .h5 {color:#002a5c;} 
	#starter h6, #starter .h6 {color:#002a5c;}  
	
	#starter select {width:100%; margin-bottom:5px;}
	
	#starter .col-gray-layout {background-color:#f3f3f3; padding:20px; border:3px #f1f1f1 solid;}
	#starter .col-layout {padding:20px; /*border-right:3px #f1f1f1 solid; border-left:3px #f1f1f1 solid;*/}
	
	.nestedImage img {padding:0 15px 10px 0;}
	.nestedImage {border-bottom:1px solid #ddd; margin-bottom:10px; padding:5px 0;}
	
	#starter a {color:#002a5c; border-bottom:1px solid #f47321;}
	#starter a:hover {color:#f47321;}
	
	/*Javascript Menu*/
	#starter a.ui-selectmenu {border-bottom:1px solid #ddd; margin-top:5px;}
	
/*
==================================================================================================
1. STARTER INTROS
================================================================================================== 
*/
	#starter-intro {padding:20px 0;}	/*There is an IE6 Conditional*/
	#starter-intro h1 {color:#f47321;}
	
	.starter-intro {}
	.intro-desc {float:left; width:325px;}
	.intro-desc h2 {color:#f47321; padding-top:0; font-weight:bold;}
	.intro-desc p {font-size:1.25em; line-height:1.4; padding-right:25px; color:#eee;}
	.intro-img {float:left; width:625px;}
	
	.starter-cycle {}
	
	.starter-nav {position:absolute; margin-top:-20px; z-index:1000;}
	.starter-nav a.sNav {font-size:2em; color:#aaa; padding-right:2px; border-bottom:none;}
	.starter-nav a.sNav:hover {color:#f47321;}
	.starter-nav a.activeSlide {color:#f47321;}

	
	


/*
==================================================================================================
2. academics.html
================================================================================================== 
*/
	
	.academicLinks ul {margin-bottom:20px;}	

/*
==================================================================================================
3. admissions.html 
================================================================================================== 
*/

	.admissions ul, .admissions select {margin-top:5px;}
	
	p.admission-apply, 
	p.admission-require, 
	p.admission-request, 
	p.admission-talk, 
	p.admission-cost, 
	p.admission-scholarships {
		padding:0; margin:0;
		height:50px;
		line-height:50px;
		text-indent:55px;
		color:#aaa;	}
		
	p.admission-apply {background:url(../img/icon/admission-apply.jpg) no-repeat 0 0;} 
	p.admission-require {background:url(../img/icon/admission-require.jpg) no-repeat 0 0;}
	p.admission-request {background:url(../img/icon/admission-request.jpg) no-repeat 0 0;} 
	p.admission-talk {background:url(../img/icon/admission-talk.jpg) no-repeat 0 0;} 
	p.admission-cost {background:url(../img/icon/admission-costs.jpg) no-repeat 0 0;} 
	p.admission-scholarships {background:url(../img/icon/admission-scholarship.jpg) no-repeat 0 0;}
	
	
	
/*
==================================================================================================
4. research.html 
================================================================================================== 
*/	

/*
==================================================================================================
5. athletics.html
================================================================================================== 
*/	

	p.athletics-basketball,
	p.athletics-xCountry,
	p.athletics-golf,
	p.athletics-baseball,
	p.athletics-football,
	p.athletics-soccer,
	p.athletics-tennis,
	p.athletics-shoe,
	p.athletics-volleyball,
	p.athletics-dance {
		padding:0; margin:0;
		height:50px;
		line-height:50px;
		text-indent:55px;
		color:#aaa;}

	p.athletics-basketball {background:url(../img/icon/athletics-basketball.jpg) no-repeat 0 0;}
	p.athletics-xCountry {background:url(../img/icon/athletics-shoe.jpg) no-repeat 0 0;}
	p.athletics-golf {background:url(../img/icon/athletics-golf.jpg) no-repeat 0 0;}
	p.athletics-baseball {background:url(../img/icon/athletics-baseball.jpg) no-repeat 0 0;}
	p.athletics-football {background:url(../img/icon/athletics-football.jpg) no-repeat 0 0;}
	p.athletics-soccer {background:url(../img/icon/athletics-soccer.jpg) no-repeat 0 0;}
	p.athletics-tennis {background:url(../img/icon/athletics-tennis.jpg) no-repeat 0 0;}
	p.athletics-shoe {background:url(../img/icon/athletics-shoe.jpg) no-repeat 0 0;}
	p.athletics-volleyball  {background:url(../img/icon/athletics-volleyball.jpg) no-repeat 0 0;}
	p.athletics-dance  {background:url(../img/icon/athletics-dance.jpg) no-repeat 0 0;}
/*
==================================================================================================
6. community.html
================================================================================================== 
*/	

/*
==================================================================================================
7. about.html
================================================================================================== 
*/	
	p.about-document {
		padding:0; margin:0;
		height:50px;
		line-height:50px;
		text-indent:55px;
		color:#aaa;
		background:url(../img/icon/about-strategy.jpg) no-repeat 0 0;}
		

/*
==================================================================================================
AUDIENCES
================================================================================================== 
*/	
	.audience {}
	
	.audience hr {margin:0 0 5px 0;}
	
	.audience .mod {margin-left:10px; margin-right:10px; margin-bottom:20px;}
	
	
#calendar-fluid {padding-bottom:20px; width:90%; margin:0 auto; min-width:950px;}