.wrap { margin-left:0!important}

#woo_options h2 {
    margin-bottom: 20px;
}
#woo_options h2 span{
    color: #888;
    font-size: 10px;
    font-style: normal;
    font-family: verdana,arial;

    
}
#woo_options h2 span a{ color: #aaa; text-decoration: none;}
#woo_options h2 span a:hover{ color: #888; text-decoration: underline;}
    
    
#woo_options .title {
    margin: 10px 0 0 0 !important;
    padding: 10px 15px;
    width: 720px;

    background: #f1f1f1; 
    border:#e3e3e3 solid 1px;
    
}

#woo_options .title h3 {font-size: 24px;font-family : arial, serif;letter-spacing: -1px; font-weight: normal !important; margin:0!important; cursor: pointer; width:550px;  height:30px; line-height: 1.2;      }

#woo_options .title p.submit { float:right; padding:0px;}

#woo_options .woo-expand { 
background:#ddd;
color:#777;
cursor:pointer;
display:block;
float:left;
font-size:15px;
margin-right:10px;
padding:6px 0 0 ;
height:25px; width: 30px; text-align: center;
}

#woo_options .container {
    background: #EAF3FA;
    padding: 10px;
}



#woo_options .titledesc {
    font-size: 12px;
    font-weight: bold;
    display: block;
    line-height: 1.2em;
    float: left;
    width: 150px;
    margin-right: 10px;
}

#woo_options .formcontainer {
    float: left;
}

#woo_options .forminp {
    valign: middle !important;
    float: left
}

#woo_options .forminp input,#woo_options .forminp select,#woo_options .forminp textarea {
    margin-bottom: 9px !important;
    background-color: #f1f1f1;
    border: 1px solid;
    border-color: #ccc #e6e6e6 #e6e6e6 #ccc;
    width: 275px;
    padding: 4px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana,sans-serif;
    font-size: 12px;
}
#woo_options .forminp select {
padding: 0 0 0 4px; width: 280px;
} 

#woo_options .forminp input.upload-input-text { width:280px; margin-right:10px }


#woo_options .forminp input:focus,.forminp select:focus,.forminp textarea:focus { background:#fff}

#woo_options .forminp span {
    font-size: 9px !important;
    font-weight: normal !important;
    line-height: 14px !important;
}

#woo_options .input-text-small { width:80px!important;}
#woo_options .meta-two { margin:0 10px}

#woo_options .info {
    background: #FFFFCC url(images/info.png) no-repeat 10px center;
    border: 1px dotted #D8D2A9;
    padding: 20px 20px 20px 50px;
    color: #333;
    width:680px;
}

#woo_options .forminp .checkbox {
    width: 20px;
    border:0;
    background: transparent none;
}

#woo_options .option-radio input {
    width: 30px;
    text-align: left;       

}

#woo_options .info a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px dotted #333
}

#woo_options .info a:hover {
    color: #666;
    border-bottom: 1px dotted #666;
}
#woo_options .welcome{float: left; padding-top:4px;}

#woo_options .warning {
    background: #ffeeee url(images/warning.png) no-repeat 10px center;;
    border: 1px dotted #cc0000;
    padding: 20px 20px 20px 50px;
    color: #333;
    font-weight: bold;
    width:680px
}

#woo_options .errors {
    background: #fded82 url(images/error.png) no-repeat 10px center;;
    border: 1px dotted #fcc55c;
    padding: 20px 20px 20px 50px;
    color: #333;
    font-weight: normal;
    width:680px
}

#woo_options .errors ul{ list-style: outside; padding-left: 30px; }
#woo_options .errors ul li{  padding:  5px 0;}

#woo_options .happy {
    background: #ccffcc url(images/happy.png) no-repeat 10px center;
    border: 1px dotted #00CC00;
    padding: 20px 20px 20px 50px;
    color: #060;
    font-weight: bold;
    width:680px
}

#woo_options .desc {
    font-size: 10px;
    margin-left: 320px;
    width: 200px;
    color: #999;
    display: block;
}

/* Make me Speacial */

#woo_options .option-checkbox .desc {margin-left: 50px; width:470px }



#woo_options .option_content {
    width:752px;
    border-bottom:#e3e3e3 solid 1px;
    
}

#woo_options .image_uploader .option-inner{ width:720px!important}


#woo_options .option {
    display: block;
    float: left;clear: left;
    width: 750px;
    border-left:#e3e3e3 solid 1px;
    border-right:#e3e3e3 solid 1px;
}

#woo_options .option-inner {
    float: left;
    padding:10px 15px;
    margin: 12px 15px;
    width: 700px
}

#woo_options .uploader_page { background-color:#f1f1f; border:solid #e6e6e6; border-width:0px 1px 1px 1px; padding:10px; width:730px}
#woo_options .uploader_page_image {float:left}
#woo_options .uploader_page_input { margin-left:260px; }
#woo_options .uploader_page_input span { font-size:12px; display:block; margin-bottom:5px; font-weight:700}
#woo_options .uploader_page_input input {border:1px solid #ddd; padding:4px; width:460px; font-size:11px; background-color:#f1f1f1}

#woo_options .upload_input {width:200px!important; border:#ccc}
#woo_options .upload_save { width: 70px!important;}


#woo_options #woo-icon {
    background: transparent url(images/icon-32.png) no-repeat scroll 0 6px;
    width: 46px
}

.submit-footer { float: left; margin-right: 20px;}
.reset-button { background: #FF9B9B none!important;}

#scrollme {text-align: right; position:absolute;top:52px; left:758px}
*+html #scrollme {left:708px}
#scrollme p{ background: #ddd; padding: 10px 20px; position: block; background: #D6FFD0; border: #ACFFA0 1px solid; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px}

/*
#woo_options * {border:1px solid red}
*/
