/*
Theme Name: UTSA-Alerts
Theme URI: http://woothemes.com/
Description: Re-edited by UTSA for Emergency Preparedness Site, updated by UCM 04/20/2017
Version: 1.0.1
Author: WooThemes
Author: John David Gaza <john.garza@utsa.edu>
Author URI: http://woothemes.com/
*/


/* 00 - GLOBAL ELEMENTS
/* ----------------------------------------------*/

body {
	margin:0; padding:0;
	background:#f2f2f2;
	font:normal 0.75em Georgia, "Times New Roman", Times, serif; color:#828080;
}


img {
	border:0;
}

blockquote {
	margin:0 auto 15px auto; padding:15px;
	width:80%;
	background:#f0f4f7;
	border:1px solid #d9e4ef;
}


/* 01 - TYPOGRAPHY
/* ----------------------------------------------*/

h1 {
	float:left;
	font-weight: 800;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 3.5em;
	color:#002a5c;
}

	.post-content h1 {
		display:block; float:none;
		font:bold 2.00em Arial, Helvetica, sans-serif; color:#484a4b;
	}

	h1.comments-title {
		margin:0 0 0 160px; padding:15px 0 0 0;
		display:block; float:none;
		font:2.50em Georgia, "Times New Roman", Times, serif; color:#484a4b;
	}

h2 {
	margin:0 0 20px 0; padding:0;
	font:2.50em Georgia, "Times New Roman", Times, serif; color:#464442;
}

	.post-content h2 {
		font:bold 1.50em Arial, Helvetica, sans-serif; color:#484a4b;
	}

	.post-content h2.title {
		font:bold 2.50em Arial, Helvetica, sans-serif; color:#484a4b; padding-bottom:12px;
	}

	.post-content h2.title2 {
		font:bold 1.8em Arial, Helvetica, sans-serif; color:#484a4b; line-height:22px;
	}

	h2.featured {
		margin:0; padding:0;
		width:auto; height:auto;
		font:bold 2.50em Arial, Helvetica, sans-serif; color:#d9eff7;
	}

	.featured-small h2 {
		display:block; line-height:104px;
	}

	h2.comments-title {
		margin:0 0 0 160px; padding:0 0 15px 0;
		display:block; float:none;
		font:.92em Georgia, "Times New Roman", Times, serif; color:#484a4b;
	}

	h2.gray {
		margin:0;
		font-size:1.75em;
	}

h3 {
	margin:0 0 10px 0; padding:0;
	font:normal 1.50em Arial, Helvetica, sans-serif; color:#bc4d10;
}

	.post-content h3 {
		font:bold 1.25em Arial, Helvetica, sans-serif; color:#484a4b;
	}

	.meta h3 {
		font-size:1.64em;
	}

h4 {
	font:1.17em Arial, Helvetica, sans-serif; color:#929ba3;
}

	.post-content h4 {
		font:bold 1.00em Arial, Helvetica, sans-serif; color:#484a4b;
		text-transform:uppercase;
	}

	h4.related-posts, h4.tags {
		font:1.27em Arial, Helvetica, sans-serif; color:#929ba3;
	}

h5 {
	margin:0 0 12px 0; padding:0 0 5px 0;
	font:2.0em Georgia, "Times New Roman", Times, serif; color:#5c6a76;
	border-bottom:3px solid #f4f7f8;
}

	.post-content h5 {
		font:bold 1.00em Arial, Helvetica, sans-serif; color:#484a4b;
		margin:auto; padding:auto;
		border:0;
	}

a:link, a:active, a:visited {
	color:#2f4f73; text-decoration:none;
}

	h2 a:link, h2 a:active, h2 a:visited {
		font:1em Georgia, "Times New Roman", Times, serif; color:#464442;
	}

		h2.featured a:link, h2.featured a:active, h2.featured a:visited {
			font:bold 1em Arial, Helvetica, sans-serif; color:#d9eff7;
		}

	h3 a:link, h3 a:active, h3 a:visited {
		font:normal 1em Arial, Helvetica, sans-serif; color:#bc4d10;
	}

	#pages-list li a {
		font:normal 0.94em Georgia, "Times New Roman", Times, serif; color:#d1dce7;
	}

	a.rss:link, a.rss:active, a.rss:visited {
	margin:0;
	padding:0 20px 0 0px;
	width:auto;
	height:16px;
	font:normal 0.92em Arial, Helvetica, sans-serif;
	color:#d1dce7;
	float:right;
	}

	a.twitter:link, a.twitter:active, a.twitter:visited {
		margin:0 0 30px 0; padding:0 0 0 50px;
		display:block;
		color:#d9eff7; outline:0;
	}

	a.email:link, a.email:active, a.email:visited {
		margin:0 0 30px 0; padding:0 0 0 50px;
		display:block;
		color:#d9eff7; outline:0;
	}

	a.rss-big:link, a.rss-big:active, a.rss-big:visited {
		margin:0; padding:0 0 0 50px;
		display:block;
		color:#d9eff7; outline:0;
	}

	.category-list li a {
		font:normal 1em Verdana, Arial, Helvetica, sans-serif; color:#708389;
	}

		.category-list li.active a {
			font:bold 1em Verdana, Arial, Helvetica, sans-serif; color:#517d8d;
		}

	.related_posts li a, .meta a {
		font:0.92em Arial, Helvetica, sans-serif; color:#748a9c;
	}

	#sidebar a, #sidebar {
		color:#9ca0a4; line-height:145%;
	}

		.recentcomments a {
			font-weight:bold;
		}

a:hover {
	text-decoration:underline;
}

	#pages-list li a:hover {
		color:#FFF;
	}

	.category-list li a:hover {
		text-decoration:none; color:#517d8d;
	}

	.meta a:hover {
		color:#2f5074;
	}

	.related-posts-list li a:hover {
		font:0.92em Arial, Helvetica, sans-serif; color:#2f5074;
	}

	a.twitter:hover, a.email:hover, a.rss-big:hover {
		color:#FFF;
	}

/* Styles */

.extrasmall {
	font-size:0.72em;
}

.small {
	font-size:0.92em;
}

.medium {
	font-size:1.08em;
}

.large {
	font-size:1.33em;
}

.arial {
	font-family:Arial, Helvetica, sans-serif;
}

.verdana {
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.white {
	color:#FFF;
}

.gray, .gray a, h2.gray a {
	color:#71787b;
}

.lightgray, .lightgray a {
	color:#b2b5b6;
}

.orange, caption {
	color:#d94d00;
}

.grayblue, .grayblue a {
	color:#748a9c;
}

.darkblue, .darkblue a {
	color:#112842;
}

.darkgray, .darkgray a, th {
	color:#3a3c3e;
}

.bold {
	font-weight:bold;
}

.caption {
	font-style:italic;
}

.block {
	display:block;
}

.inline {
	display:inline;
}

.textright {
	text-align:right;
}

/* Misc. */
#pages-top {
	font:normal 1em Arial, Helvetica, sans-serif; color:#d1dce7;
}

.featured-norm {
	font:normal 1em Arial, Helvetica, sans-serif; color:#222222 !important;
}

.featured-norm a, .featured-small a{
	font:normal 1em Arial, Helvetica, sans-serif; color:#fff !important;
}

.featured-small a:hover {text-decoration:none !important;}

.featured-blog {
	font:1.17em Arial, Helvetica, sans-serif; color:#222222 !important;
	line-height:20px;
}

.meta {
	font:0.92em Arial, Helvetica, sans-serif; color:#676d72;
}

	.meta p {
		margin:0 0 3px 0; padding:0;
	}

.post-content p {
	line-height:16px;
}

.post-content ul, .post-content ol {
	padding:0;
	margin:10px;
}

.post-content ul ul, .post-content ol ol {
	margin-left: 20px;
}

.post-content li {
	list-style-position: inside;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
}

.post-content li li {
	background-color:#f7f7f7;
	padding:5px;
}

.comment-content {
	font-family:Arial, Helvetica, sans-serif;
}

	.comment-content p {
		line-height:135%;
	}

#footer, a.woothemes-link:link, a.woothemes-link:active, a.woothemes-link:visited {
	font:normal 0.92em Arial, Helvetica, sans-serif; color:#a7a1a1;
}

.textfield {
	color:#b2b5b6; font:.92em Arial, Helvetica, sans-serif;
}

/* 02 - STRUCTURE
/* ----------------------------------------------*/

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.container {
	margin:0 auto; padding:0;
	width:941px; height:auto;
}

.left {
	float:left;
}

.right {
	float:right;
}


#pages-top {
	margin:0; padding:8px 0;
	width:auto; height:auto;
	background-color:#2c4a6c;
	border-bottom:1px solid #4e6d8e;
}

#header {
	margin:0; padding:0;
	width:auto; height:auto;
	background:#e1ebef;
}


#categories {
	margin:0; padding:7px 0 0 0;
	width:auto; height:auto;
	background:#e3edf0;
	border-top:1px solid #bdd3db;
}


#featured {
	margin:1px 0 0 0; padding:0;
	width:auto; height:auto;
	background:#003a6c;
	border-bottom:1px solid #003a6c;
}

#content {
	margin:0; padding:25px 0;
	width:auto; height:auto;
}

	#left-col {
		margin:0; padding:0;
		width:700px; height:auto;
		float:left;
	}

	#right-col {
		margin:0; padding:0;
		width:220px; height:auto;
		float:right;
	}

/* 03 - HEADER
/* ----------------------------------------------*/

#pages-list, #pages-list ul {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	z-index: 100;
	float:left;
}

#pages-list a {
	display: block;
	line-height: 28px;
	padding: 0 10px;
	z-index: 100;
}

#pages-list li {
	float: left;
}

/* Style drop down list */

#subscribe {
	margin:0; padding:0;
	width:auto; height:auto;
	float:right;
}

#logo-back {
	margin:0; padding:0;
	width:auto; height:92px;
}

	#logo-back img {
		margin:32px 0 0 0;
		float:left;
	}

#search {
	margin:33px 0 0 0;
	float:right;
}

	.search-form {
		margin:0; padding:0;
	}

	.search-box {
		padding: 0.25rem;
		margin-right: 0.5rem;
		font:1em Arial, Helvetica, sans-serif; color:#5c6a76;
		border:0; float:left; display:inline;
	}

	.search-button {
		float:right;
	}

.category-list {
	margin:0; padding:0;
}

	.category-list li {
		margin:0 0px 0 0px !important;
		padding:0px;
		float:left;
		list-style: none;
		line-height:42px;
	}

	.category-list li a{
		padding:14px 12px;
	    display:block
	}

	.category-list li ul li a{
		padding:10px 15px;
	    display:block
	}

	.category-list li.current-cat, .category-list li:hover {
		background:#d7e5e9;
	}


.category-list li ul {
	position: absolute;
	width: 18em;
	left: -999em;
	margin:0;
	padding:0;

}
.category-list li:hover ul, .category-list li.sfhover ul {
	left: auto;
	z-index:1000;
}
.category-list li ul li {
    background: #FFFFFF;
	border-bottom:1px solid #d7e5e9;
	border-left:1px solid #d7e5e9;
	border-right:1px solid #d7e5e9;
	line-height:28px;
	width:18em;
	margin:0px;
}
.category-list li:hover, .category-list li.hover {
    position: static;
}
.category-list li ul ul {
	margin: -35px 0 0 18em;
}
.category-list li:hover ul ul, .category-list li.sfhover ul ul {
	left: -999em;
}
.category-list li:hover ul, .category-list li li:hover ul, .category-list li.sfhover ul, .category-list li li.sfhover ul {
	left: auto;
}
.category-list li:hover ul ul, .category-list li:hover ul ul ul, .category-list li.sfhover ul ul, .category-list li.sfhover ul ul ul {
	left: -999em;
}
.category-list li:hover ul, .category-list li li:hover ul, .category-list li li li:hover ul, .category-list li.sfhover ul, .category-list li li.sfhover ul, .category-list li li li.sfhover ul {
	left: auto;
}


/* 04 - FEATURED
/* ----------------------------------------------*/

.featured-norm {
	margin:0; padding:0;
	width:auto; height:auto;
	line-height:20px;
}

.featured-blog {
	margin:0; padding:0;
	width:auto; height:auto;
	line-height:20px;
}

.featured-small {
	margin:0; padding:0;
	width:auto; height:103px;
}

	.featured-content {
		margin:0; padding:30px 0 0 0;
		width:335px; height:248px;
		float:left;
	}

	.featured-blog-content {
		margin:0; padding:30px 0 0 0;
		width:650px; height:210px;
		float:left;
	}

	.featured-preview {
		margin:27px 15px 0 0; padding:0;
		width:550px; height:auto;
		float:right; display:inline;
	}

	.featured-links {
		margin:30px 15px 0 0; padding:0;
		width:200px; height:auto;
		float:right; display:inline;
	}

/* 05 - LEFT COLUMN
/* ----------------------------------------------*/

.post-list, .post-list-last {
	margin:0; padding:0;
	list-style:none;
}

	.post-list-last {
		border-bottom:1px solid #d9e2e9;
	}

.post-list li.post, .post-list li.post-last, .post-list-last li.post, .post-list-last li.post-last, .post-list li.post-last-blank {
	margin:0; padding:0;
	border-bottom:1px solid #d9e2e9;
}

	.post-list li.post-last, .post-list-last li.post-last, .post-list li.post-last-blank {
		border-bottom:1px solid #d9e2e9;
	}

	.post-list li.post-last-blank {
		background:none;
	}

	.post-list li.post-blank, .post-list-last li.post-blank {
		margin:0; padding:0;
		width:auto; height:auto;
		border:1px solid #d9e2e9; border-width:0 1px 0 0;
		background:none;
	}

	.meta {
		margin:0; padding:15px;
		width:129px; height:auto;
		float:left;
		border-left:1px solid #d9e2e9;
	}

		.related-posts, .tags, .tags-top, .comment-author {
			margin:10px -16px 0 -15px; padding:15px 15px 5px 15px;
			list-style:none;
			position:relative; z-index:5; overflow:visible;
		}

			.related-posts, .tags-top {
				border-top:1px solid #d9e2e9;
			}

			.comment-author {
				margin:0 -16px 0 -15px; padding:0 15px 5px 15px;
			}

		.related_posts {
			margin:0; padding:0;
			width:auto; height:auto;
			list-style:none;
			_margin-top:40px;
		}

			.related_posts li {
				margin:0 0 10px 0; padding:0;
			}

	.post-content {
		margin:0; padding:20px;
		width:498px; height:auto;
		background:#FFF;
	}

		.post-preview {
			margin:0 15px 5px 0;
		}

.post-list li.other-post-last, .post-list-last li.other-post-last {
	margin:0; padding:10px;
	width:213px; height:auto;
	float:left;
	border:1px solid #d9e2e9; border-width:1px 0 0 0;
}

.post-list li.other-post, .post-list-last li.other-post {
	margin:0; padding:10px;
	width:212px; height:auto;
	float:left;
	border:1px solid #d9e2e9; border-width:1px 1px 0 0;
}

.post-list li.archives, .post-list-last li.archives {
	margin:0; padding:30px 10px 10px 10px;
	width:97% !important; height:auto;
	float:left;
	border:1px solid #d9e2e9; border-width:1px 0 0 0;
}

	.other-posts-preview {
		margin:10px 0;
	}

.img-border {
	padding:2px;
	border:1px solid #c2c2c2;
}

.commentlist {
	margin:0; padding:0;
	list-style:none;
}

	.commentlist li {
		margin:0; padding:0;
		border-bottom:1px solid #e5e9ee;
	}

		.comment-meta {
			margin:0; padding:15px;
			width:129px; height:100%;
			background:#fafbfd;
			float:left;
			border-left:1px solid #d9e2e9;
		}

		.comment-meta .gravatar {
			margin-right:10px;
			float:left;
			_float:none;
		}

		.comment-content {
			margin:0; padding:15px 20px;
			width:498px; height:auto;
			background:#FFF;
			float:right;
			border-left:1px solid #e5e9ee;
			min-height:85px;
			height:auto !important;
			height:85px;
		}


.comment-form-left {
	margin:0; padding:0;
	width:170px; height:auto;
	float:left;
}

.comment-form-right {
	margin:0; padding:0;
	width:285px; height:auto;
	float:right;
}

		.textfield {
			margin:8px 0 0 0; padding:5px;
			background:#FFF;
			border:1px solid #e5e9ee;
		}

		.button {
			margin:0; padding:4px 6px;
			border:1px solid #2b4869;
			font:bold 0.92em Arial, Helvetica, sans-serif; color:#FFF;
		}


/* 06 - RIGHT COLUMN
/* ----------------------------------------------*/

.box {
	margin:0; padding:15px;
}

	.box img {
		margin:0 auto 15px auto; display:block;
		text-align:center;
	}

#sidebar {
	margin:0; padding:0;
	list-style:none;
}

	#sidebar li {
		margin:0 0 10px 0;
	}

		#sidebar li ul {
			margin:0; padding:0;
			list-style:none;
		}

			#sidebar li ul li {
				margin:5px 0; padding:0;
				width:auto; height:auto;
			}

			#sidebar li ul li.popular {
				margin:15px 0 0 0; padding:0 0 5px 0;
				width:auto; height:auto;
			}

			#sidebar li .flickr_badge_image {
				float:left;
				margin:5px;
			}

			#sidebar li .flickr_badge_image img {
				padding:4px;
				background-color:#FFFFFF;
				border: solid 1px #cccccc;
			}

			 #sidebar .box {  padding:15px 0 0 0; }

/* 00 - FOOTER
/* ----------------------------------------------*/

#footer {text-align:left; color:#999;}
#footer p {}
#footer p a {color:#002a5c;}
#footer a {color:#777; border-bottom:1px solid #aaa; text-align:left; margin-right:10px;}
#footer a:hover {color:#002a5c; border-bottom:1px solid #002a5c; text-decoration:none;}

/* THREADED COMMENTS
/* ----------------------------------------------*/

ol.commentlist ul.children {
	margin:0;
	padding:0;
}

ol.commentlist ul.children li {
	border-bottom:0;
	background:none;
}

/* MISC
/* ----------------------------------------------*/

.fix{
	clear: both;
	height: 1px;
	margin: -1px 0 0;
	overflow: hidden
}

.fl{
	float: left
}

.fr{
	float: right
}

.aligncenter {
	margin: 10px auto 20px auto;
	display: block;
}

.alignleft {
	margin: 10px 20px 8px 0;
	float: left;
}

.alignright {
	margin: 10px 0px 8px 20px;
	float: right;
}
.wp-caption {
	-moz-border-radius:3px;
	background-color:##FAFBFD;
	border:1px solid #E5E9EE;
	padding:4px 0 5px;
	text-align:center;
}
.wp-caption-text {
	padding:3px 0 0;
	font-size:11px;
}
/* Print Styles (add by Ruben O. on 9-24-2010)
/* ----------------------------------------------*/
@media print{
   body {background-color: white; color:black; margin:0;}

   /*
   #topBar > a > img, #pages-top, #categories, #search, #sidebar, #footer{display: none;}
   */
   #topBar > a > img, #pages-top, #categories, #search, #linkcat-24, #text-6, #footer img{display: none;}
}


#pages-top {
	background-color:#002a5c;
	border-bottom:1px solid #4e6d8e;
}

#pages-top ul {list-style:none;}

#topBar {margin:0; padding:0; width:auto; height:auto; float:left;}
#topBar a {color:#eee; font-size:11px; text-decoration:none; font-family:Arial, Helvetica, sans-serif;}
#topBar a:hover {color:#eee; text-decoration:none;}



#header {
	background:#e1ebef;
}

.search-form {
}

#logo-back {
}

#categories {
	background:#e3edf0;
	border-top:1px solid #bdd3db;
}

#featured {
	background:#f57a30;
	border-bottom:1px solid #f57a30;
}

.featured-norm {
	margin:0; padding:0;
	width:auto; height:auto;
	line-height:20px;
}

.featured-blog {
	margin:0; padding:0;
	width:auto; height:auto;
	line-height:20px;
}

.featured-small {
	margin:0; padding:0;
	width:auto; height:64px;
}

.featured-small h2, .featured-small h2 a {color:#002a5c; font-size:20px !important;}
.featured-small h2.featured {line-height:64px !important;}





#content {
	background-color:#fff;
	border-top:6px solid #d1e1e7;
	border-bottom:1px solid #e6e6e6;
}

	.comment-meta, .post-content {
		border-left:1px solid #d9e2e9;
	}

.post-list-last {
	border-bottom:1px solid #d9e2e9;
}

.post-list li.post-last, .post-list-last li.post-last, .post-list li.post-last-blank {
	border-bottom:1px solid #d9e2e9;
}

.post-list li.post, .post-list li.post-last, .post-list-last li.post, .post-list-last li.post-last, .post-list li.post-last-blank, .commentlist li {
}

.post-list li.post-blank, .post-list-last li.post-blank, .post-list li.post, .post-list li.post-last, .post-list-last li.post, .post-list-last li.post-last, .post-list li.post-last-blank, .post-list li.other-post-last, .post-list-last li.other-post-last, .post-list li.archives, .post-list-last li.archives, .post-list li.other-post, .post-list-last li.other-post {
	border-color:#d9e2e9;
}

.meta {
	background:#fafbfd;
	border-left:1px solid #d9e2e9;
}

.related-posts, .tags-top {
	border-top:1px solid #d9e2e9;
}

.comment-content {
	border-left:1px solid #e5e9ee;
}

blockquote {
	background:#f0f4f7;
	border:1px solid #d9e4ef;
}

h3, h3 a:link, h3 a:active, h3 a:visited {
	color:#bc4d10;
}

.post-content h1, h1.comments-title, .post-content h2, .post-content h2.title, h2.comments-title, .post-content h3, .post-content h4, .post-content h5 {
	color:#484a4b;
}


h4, h4.related-posts, h4.tags {
	color:#929ba3;
}

h5 {
	color:#5c6a76;
}

a:link, a:active, a:visited {
	color: #2F4F73;
}

h2.featured a:link, h2.featured a:active, h2.featured a:visited, a.twitter:link, a.twitter:active, a.twitter:visited, a.email:link, a.email:active, a.email:visited, a.rss-big:link, a.rss-big:active, a.rss-big:visited, .featured-norm, .featured-blog, h2.featured {
	color:#d9eff7;
}

#pages-list li, #pages-list li.blank {
}
#pages-list li.blank {
	background:none;
}

#pages-list li a, a.rss:link, a.rss:active, a.rss:visited, #pages-top {
	color: #d1dce7;
}

.meta {
	color:#676d72;
}

#footer, a.woothemes-link:link, a.woothemes-link:active, a.woothemes-link:visited {
	color:#a7a1a1;
}

.textfield {
	color:#b2b5b6;
}




.category-list li a {
	/*color:#708389;*/
	color:#000000;
}

.category-list li.active a, .category-list li a:hover {
	/*color:#517d8d;*/
	color:#002a5c;
}

.category-list li.current-cat, .category-list li:hover {
	background:#d7e5e9;
}

.related-posts-list li a:hover, .meta a:hover {
	color:#2f5074;
}

.gray, .gray a, h2.gray a {
	color:#71787b;
}

.lightgray, .lightgray a {
	color:#b2b5b6;
}

.orange, caption {
	color:#d94d00;
}

.grayblue, .grayblue a, .related_posts li a, .meta a {
	color:#748a9c;
}

.darkblue, .darkblue a {
	color:#112842;
}

.darkgray, .darkgray a, th {
	color:#3a3c3e;
}

#sidebar a, #sidebar {
	color:#9ca0a4;
}






.category-list-rt a {
	color:#f47321 !important; background:#d7e5e9 !important;
}


.category-list-rt .children a {
	background:#fff !important;
}


.category-list-rt .children a:hover {
	background:#d7e5e9 !important;
}




.category-list-rt li a {
		font:normal 1em Verdana, Arial, Helvetica, sans-serif; color:#708389;
	}

		.category-list-rt li.active a {
			font:bold 1em Verdana, Arial, Helvetica, sans-serif; color:#517d8d;
		}


.category-list-rt li a:hover {
		text-decoration:none; color:#517d8d;
	}


.category-list-rt {
	margin:0; padding:0;
}

	.category-list-rt li {
		margin:0 0px 0 0px !important;
		padding:0px;
		float:right;
		list-style: none;
		line-height:42px;
	}

	.category-list-rt li a{
		padding:14px 15px;
	    display:block
	}

	.category-list-rt li ul li a{
		padding:10px 15px;
	    display:block
	}

	.category-list-rt li.current-cat, .category-list-rt li:hover {
		background:#d7e5e9;
	}


.category-list-rt li ul {
	position: absolute;
	width: 360px;
	left: -999em;
	margin-left:-243px;
	text-align:right;
	padding:0;

}
.category-list-rt li:hover ul, .category-list-rt li.sfhover ul {
	left: auto;
	z-index:1000;
}
.category-list-rt li ul li {
    background: #FFFFFF;
	border-bottom:1px solid #d7e5e9;
	border-left:1px solid #d7e5e9;
	border-right:1px solid #d7e5e9;
	line-height:28px;
	width: 360px;
	margin:0px;
}
.category-list-rt li:hover, .category-list-rt li.hover {
    position: static;
}
.category-list-rt li ul ul {
	margin: -35px 0 0 15em;
}
.category-list-rt li:hover ul ul, .category-list-rt li.sfhover ul ul {
	left: -999em;
}
.category-list-rt li:hover ul, .category-list-rt li li:hover ul, .category-list-rt li.sfhover ul, .category-list-rt li li.sfhover ul {
	left: auto;
}
.category-list-rt li:hover ul ul, .category-list-rt li:hover ul ul ul, .category-list-rt li.sfhover ul ul, .category-list-rt li.sfhover ul ul ul {
	left: -999em;
}
.category-list-rt li:hover ul, .category-list-rt li li:hover ul, .category-list-rt li li li:hover ul, .category-list-rt li.sfhover ul, .category-list-rt li li.sfhover ul, .category-list-rt li li li.sfhover ul {
	left: auto;
}


.post-content {border-left:none;}
h2.title a {color:#f47321!important;}
h2.title {padding-bottom:2px !important; margin-bottom:0px !important; line-height:28px;}
.post-content p.meta2 {color:#999!important; font-style:italic!important; margin-bottom:0px !important;}

h2.home-subhead {background-color:#002a5c; padding:10px 20px; font:normal 1.4em Arial, Helvetica, sans-serif; color:#fff; border-top:5px solid #f47321; margin-bottom:0px; }
h5.widgettitle {background-color:#002a5c; padding:10px 20px; font:normal 1.4em Arial, Helvetica, sans-serif; color:#fff;}
ul#sidebar li.widget div, ul#sidebar li.widget ul {padding:10px 20px; border-width:0 1px 1px 1px; border-style:solid; border-color:#aaa; margin-top:-15px; }
ul#sidebar li.widget {color:#333;}
ul#sidebar ul.blogroll li {border-bottom:1px solid #ddd; padding-bottom:6px;}
ul#sidebar li.widget a {text-decoration:underline; color:#002a5c;}
ul#sidebar ul.blogroll li a {color:#002a5c; text-decoration:none;}
ul#sidebar li.widget a:hover, ul#sidebar ul.blogroll li a:hover {color:#f47321;}


.toggler  { cursor:pointer; font-weight:normal !important; color:#000; margin: 0; padding:10px; font-size:16px; font-family:Arial, sans-serif;  border-top:1px solid #aaa; background:#eee;}
.toggler:hover	 { background:#002a5c !important; color:#fff!important;}
.element	 {padding:0px 5px; margin:10px 0px 5px 0px;}

.post-content {width:90% !important;}
.post-content p, .post-content ol li, .post-content ul li {font-size:13px !important; line-height:19px!important; color:#333!important;}
.post-content a {border-bottom:1px solid #f47321;}
.post-content a:hover {color:#f47321; text-decoration:none;}
.post-content span {line-height:24px!important;}
.post-content ul {margin-left:22px;}
.post-content ul li {list-style:disc; list-style-position:outside;}
.post-content ol {margin-left:22px;}
.post-content ol li {list-style-position:outside;}
.post-content blockquote {font-family:Arial, Helvetica, sans-serif; margin:10px 0px 20px 0px; width:100%;}
.post-content h3 {color:#002a5c; font-size:17px;}
.post-content h2 {color:#f47321; font-size:20px;}


ul.children {cursor:pointer;}
ul.children li a {cursor:pointer;}

.category-list li.alerts-social a {
	padding: 0.15rem;
	margin: 0rem;
	line-height: 0.65rem;
}

.fa-alerts-rss {
	font-size: 0.75rem;
	padding:0.15rem;
	color:#FFF;
}

.fa-alerts-color {
	font-size: 1.5rem;
	padding:0.15rem;
	color:#2c4a6c;
}

@font-face {
  font-family: 'fa-alerts-custom';
  src: url('fonts/fa-alerts-custom.eot');
  src: url('fonts/fa-alerts-custom.eot?#iefix') format('embedded-opentype'),
       url('fonts/fa-alerts-custom.woff2') format('woff2'),
       url('fonts/fa-alerts-custom.woff') format('woff'),
       url('fonts/fa-alerts-custom.ttf') format('truetype'),
       url('fonts/fa-alerts-custom.svg?#fa-alerts-custom') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fa-alerts-custom';
    src: url('../font/fa-alerts-custom.svg?73880320#fa-alerts-custom') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fa-alerts-custom";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-twitter:before { content: '\f099'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
