#pages-top {
	background-color:#002a5c;
	border-bottom:1px solid #4e6d8e;
}

#pages-top ul {list-style:none;}

#topBar {margin:0; padding:0; width:auto; height:auto; float:left;}
#topBar a {color:#eee; font-size:11px; text-decoration:none; font-family:Arial, Helvetica, sans-serif;}
#topBar a:hover {color:#eee; text-decoration:none;}



#header {
	background:#e1ebef url(default/header.gif) repeat-x bottom center;
}

.search-form {
	background:url(default/search-bar.gif) repeat-x top center;
}

#logo-back {
	background:url(default/logo-back.gif) no-repeat bottom left;
}

#categories {
	background:#e3edf0 url(default/categories.gif) repeat-x top center;
	border-top:1px solid #bdd3db;
}

#featured {
	background:#f57a30;
	border-bottom:1px solid #f57a30;
	/*background:#003a6c;
	border-bottom:1px solid #003a6c;*/
}

.featured-norm {
	margin:0; padding:0;
	width:auto; height:auto;
	background:url(default/featured-norm-or.gif) no-repeat top center;
	line-height:20px;
}

.featured-blog {
	margin:0; padding:0;
	width:auto; height:auto;
	background:url(default/featured-blog-or.gif) no-repeat top center;
	line-height:20px;
}

.featured-small {
	margin:0; padding:0;
	width:auto; height:64px;
	background:url(default/featured-small-or.gif) no-repeat top center;
}

.featured-small h2, .featured-small h2 a {color:#002a5c; font-size:20px !important;}
.featured-small h2.featured {line-height:64px !important;}





#content {
	background-color:#fff;
	border-top:6px solid #d1e1e7;
	border-bottom:1px solid #e6e6e6;
}

	.comment-meta, .post-content {
		border-left:1px solid #d9e2e9;
	}

.post-list-last {
	border-bottom:1px solid #d9e2e9;
}

.post-list li.post-last, .post-list-last li.post-last, .post-list li.post-last-blank {
	border-bottom:1px solid #d9e2e9;
}

.post-list li.post, .post-list li.post-last, .post-list-last li.post, .post-list-last li.post-last, .post-list li.post-last-blank, .commentlist li {
	background:url(default/postback.gif) repeat-y;
}

.post-list li.post-blank, .post-list-last li.post-blank, .post-list li.post, .post-list li.post-last, .post-list-last li.post, .post-list-last li.post-last, .post-list li.post-last-blank, .post-list li.other-post-last, .post-list-last li.other-post-last, .post-list li.archives, .post-list-last li.archives, .post-list li.other-post, .post-list-last li.other-post {
	border-color:#d9e2e9;
}

.meta {
	background:#fafbfd url(default/meta.gif) repeat-x top center;
	border-left:1px solid #d9e2e9;
}

.related-posts, .tags-top {
	border-top:1px solid #d9e2e9;
}

.comment-content {
	border-left:1px solid #e5e9ee;
}

blockquote {
	background:#f0f4f7;
	border:1px solid #d9e4ef;
}

h3, h3 a:link, h3 a:active, h3 a:visited {
	color:#bc4d10;
}

.post-content h1, h1.comments-title, .post-content h2, .post-content h2.title, h2.comments-title, .post-content h3, .post-content h4, .post-content h5 {
	color:#484a4b;
}


h4, h4.related-posts, h4.tags {
	color:#929ba3;
}

h5 {
	color:#5c6a76;
}

a:link, a:active, a:visited {
	color: #2F4F73;
}

h2.featured a:link, h2.featured a:active, h2.featured a:visited, a.twitter:link, a.twitter:active, a.twitter:visited, a.email:link, a.email:active, a.email:visited, a.rss-big:link, a.rss-big:active, a.rss-big:visited, .featured-norm, .featured-blog, h2.featured {
	color:#d9eff7;
}

#pages-list li, #pages-list li.blank {
	background:url(../images/page-list-divider.gif) no-repeat center left;
}
#pages-list li.blank {
	background:none;
}

#pages-list li a, a.rss:link, a.rss:active, a.rss:visited, #pages-top {
	color: #d1dce7;
}

.meta {
	color:#676d72;
}

#footer, a.woothemes-link:link, a.woothemes-link:active, a.woothemes-link:visited {
	color:#a7a1a1;
}

.textfield {
	color:#b2b5b6;
}




.category-list li a {
	/*color:#708389;*/
	color:#000000;
}

.category-list li.active a, .category-list li a:hover {
	/*color:#517d8d;*/
	color:#002a5c;
}

.category-list li.current-cat, .category-list li:hover {
	background:#d7e5e9;
}

.related-posts-list li a:hover, .meta a:hover {
	color:#2f5074;
}

.gray, .gray a, h2.gray a {
	color:#71787b;
}

.lightgray, .lightgray a {
	color:#b2b5b6;
}

.orange, caption {
	color:#d94d00;
}

.grayblue, .grayblue a, .related_posts li a, .meta a {
	color:#748a9c;
}

.darkblue, .darkblue a {
	color:#112842;
}

.darkgray, .darkgray a, th {
	color:#3a3c3e;
}

#sidebar a, #sidebar {
	color:#9ca0a4;
}






.category-list-rt a {
	color:#f47321 !important; background:#d7e5e9 !important;
}


.category-list-rt .children a {
	background:#fff !important;
}


.category-list-rt .children a:hover {
	background:#d7e5e9 !important;
}




.category-list-rt li a {
		font:normal 1em Verdana, Arial, Helvetica, sans-serif; color:#708389;
	}
	
		.category-list-rt li.active a {
			font:bold 1em Verdana, Arial, Helvetica, sans-serif; color:#517d8d;
		}
		
		
.category-list-rt li a:hover {
		text-decoration:none; color:#517d8d;
	}
		

.category-list-rt {
	margin:0; padding:0;
}
		
	.category-list-rt li {
		margin:0 0px 0 0px !important; 
		padding:0px;
		float:right;
		list-style: none;
		line-height:42px;
	}
	
	.category-list-rt li a{
		padding:14px 15px;
	    display:block
	}
	
	.category-list-rt li ul li a{
		padding:10px 15px;
	    display:block
	}
			
	.category-list-rt li.current-cat, .category-list-rt li:hover {
		background:#d7e5e9;
	}


.category-list-rt li ul {
	position: absolute;
	width: 360px;
	left: -999em;
	margin-left:-243px;
	text-align:right;
	padding:0; 
	
}
.category-list-rt li:hover ul, .category-list-rt li.sfhover ul {
	left: auto;
	z-index:1000;	
}
.category-list-rt li ul li {
    background: #FFFFFF;
	border-bottom:1px solid #d7e5e9;	
	border-left:1px solid #d7e5e9;	
	border-right:1px solid #d7e5e9;			
	line-height:28px;	
	width: 360px;
	margin:0px;
}
.category-list-rt li:hover, .category-list-rt li.hover {
    position: static;
}
.category-list-rt li ul ul {
	margin: -35px 0 0 15em;
}
.category-list-rt li:hover ul ul, .category-list-rt li.sfhover ul ul {
	left: -999em;
}
.category-list-rt li:hover ul, .category-list-rt li li:hover ul, .category-list-rt li.sfhover ul, .category-list-rt li li.sfhover ul {
	left: auto;
}
.category-list-rt li:hover ul ul, .category-list-rt li:hover ul ul ul, .category-list-rt li.sfhover ul ul, .category-list-rt li.sfhover ul ul ul {
	left: -999em;
}
.category-list-rt li:hover ul, .category-list-rt li li:hover ul, .category-list-rt li li li:hover ul, .category-list-rt li.sfhover ul, .category-list-rt li li.sfhover ul, .category-list-rt li li li.sfhover ul {
	left: auto;
} 	


.post-content {border-left:none;}
h2.title a {color:#f47321!important;}
h2.title {padding-bottom:2px !important; margin-bottom:0px !important; line-height:28px;}
.post-content p.meta2 {color:#999!important; font-style:italic!important; margin-bottom:0px !important;}

h2.home-subhead {background-color:#002a5c; padding:10px 20px; font:normal 1.4em Arial, Helvetica, sans-serif; color:#fff; border-top:5px solid #f47321; margin-bottom:0px; }
h5.widgettitle {background-color:#002a5c; padding:10px 20px; font:normal 1.4em Arial, Helvetica, sans-serif; color:#fff;}
ul#sidebar li.widget div, ul#sidebar li.widget ul {padding:10px 20px; border-width:0 1px 1px 1px; border-style:solid; border-color:#aaa; margin-top:-15px; }
ul#sidebar li.widget {color:#333;}
ul#sidebar ul.blogroll li {border-bottom:1px solid #ddd; padding-bottom:6px;}
ul#sidebar li.widget a {text-decoration:underline; color:#002a5c;}
ul#sidebar ul.blogroll li a {color:#002a5c; text-decoration:none;}
ul#sidebar li.widget a:hover, ul#sidebar ul.blogroll li a:hover {color:#f47321;}


.toggler  { cursor:pointer; font-weight:normal !important; color:#000; margin: 0; padding:10px; font-size:16px; font-family:Arial, sans-serif;  border-top:1px solid #aaa; background:#eee;}
.toggler:hover	 { background:#002a5c !important; color:#fff!important;}
.element	 {padding:0px 5px; margin:10px 0px 5px 0px;}

.post-content {width:90% !important;}
.post-content p, .post-content ol li, .post-content ul li {font-size:13px !important; line-height:19px!important; color:#333!important;}
.post-content a {border-bottom:1px solid #f47321;}
.post-content a:hover {color:#f47321; text-decoration:none;}
.post-content span {line-height:24px!important;}
.post-content ul {margin-left:22px;}
.post-content ul li {list-style:disc; list-style-position:outside;}
.post-content ol {margin-left:22px;}
.post-content ol li {list-style-position:outside;}
.post-content blockquote {font-family:Arial, Helvetica, sans-serif; margin:10px 0px 20px 0px; width:100%;}
.post-content h3 {color:#002a5c; font-size:17px;}
.post-content h2 {color:#f47321; font-size:20px;}


ul.children {cursor:pointer;}
ul.children li a {cursor:pointer;}